<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7vZoqbv9FZhfwIZv3Ci5iMQBRk9o7jk8</string>
	<key>GCM_SENDER_ID</key>
	<string>995089004895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatmarketplace.app</string>
	<key>PROJECT_ID</key>
	<string>chat-marketing-app-2f1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-marketing-app-2f1fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995089004895:ios:b34d2ac9cc54536db95eea</string>
</dict>
</plist>